<header>
    <nav>
        <li><a href="/"></a>Mybrary</li>
        <ul>
            <li><a href="/authors">Authors</a></li>
            <li><a href="/authors/new">Add Author</a></li>
        </ul>
    </nav>
</header>